<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Polytech Job{% endblock %}</title>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        {% block stylesheets %}
           <link rel="stylesheet" type="text/css" href="{{asset('css/app.css')}}" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}  
        {% endblock %}
    </head>
    <body>
    <img src="{{asset('images/pic.png')}}" title="my image" alt="My image" width="938" height="234">
    <h1 class="text-center">{% block titre %} Bienvenue à Polytech Job Search {% endblock %} </h1>
        {% block body %}{% endblock %}
    </body>
</html>
